/* http://colormind.io/bootstrap/ */
.dark {
    background-color: #3c434b;
}

.dark-accent {
    color: #ad4243;
}

.main-color {
    color: #7c94b3;
}

.light-accent {
    color: #d2915a;
}

.light-shade {
    color: #e4e8f0;
}